.mstheme     { nav-banner-image: url(artbanna.gif); separator-image: url(arthsepa.gif); 
               list-image-1: url(artbul1a.gif); list-image-2: 
               url(artbul2a.gif); list-image-3: url(artbul3a.gif); 
               navbutton-horiz-normal: url(artnvhna.gif); 
               navbutton-horiz-hovered: url(artnvhha.gif); 
               navbutton-horiz-pushed: url(artnvhsa.gif); 
               navbutton-vert-normal: url(artnvvna.gif); 
               navbutton-vert-pushed: url(artnvvsa.gif); 
               navbutton-vert-hovered: url(artnvvha.gif); 
               navbutton-home-normal: url(arthomna.gif); 
               navbutton-home-hovered: url(arthomha.gif); 
               navbutton-home-pushed: url(arthomsa.gif); 
               navbutton-next-normal: url(artnexna.gif); 
               navbutton-next-hovered: url(artnexha.gif); 
               navbutton-next-pushed: url(artnexsa.gif); 
               navbutton-prev-normal: url(artprena.gif); 
               navbutton-prev-hovered: url(artpreha.gif); 
               navbutton-prev-pushed: url(artpresa.gif); navbutton-up-normal: 
               url(artupbna.gif); navbutton-up-hovered: url(artupbha.gif); 
               navbutton-up-pushed: url(artupbsa.gif) }
.mstheme-bannertxt { color: rgb(255,255,153); text-align: center; vertical-align: middle; 
               font-family: 宋体 }
.mstheme-horiz-navtxt { font-weight: bold; color: rgb(255,255,153); text-align: center; 
               vertical-align: middle; font-family: 宋体 }
.mstheme-vert-navtxt { font-weight: bold; color: rgb(255,255,153); text-align: center; 
               vertical-align: middle; font-family: 宋体 }
.mstheme-navtxthome { font-weight: bold; color: rgb(255,255,153); text-align: center; 
               vertical-align: middle; font-family: 宋体 }
.mstheme-navtxtnext { font-weight: bold; color: rgb(255,255,153); text-align: center; 
               vertical-align: middle; font-family: 宋体 }
.mstheme-navtxtprev { font-weight: bold; color: rgb(255,255,153); text-align: center; 
               vertical-align: middle; font-family: 宋体 }
.mstheme-navtxtup { font-weight: bold; color: rgb(255,255,153); text-align: center; 
               vertical-align: middle; font-family: 宋体 }
ul           { list-style-image: url('artbul1a.gif') }
ul ul        { list-style-image: url('artbul2a.gif') }
ul ul ul     { list-style-image: url('artbul3a.gif') }
a:link       { color: rgb(255,204,0) }
a:visited    { color: rgb(153,153,102) }
a:active     { color: rgb(102,255,0) }
body         { color: rgb(255,255,153); background-color: rgb(0,0,51) }
h1           { color: rgb(255,204,0) }
h2, marquee  { color: rgb(153,204,0) }
h3           { color: rgb(102,153,51) }
h4           { color: rgb(255,153,51) }
h5           { color: rgb(255,204,0) }
h6           { color: rgb(102,153,51) }
hr           { color: rgb(102,153,51) }
button       { background-color: rgb(255,204,0); color: Black; border-color: rgb(204,204,102) }
label, .MSTHEME-LABEL { color: rgb(255,255,153) }
textarea     { color: black; border-color: rgb(153,153,51) }
fieldset     { color: White; border-color: rgb(153,153,51) }
legend       { color: rgb(102,153,51) }
select       { color: black; border-color: rgb(153,153,51) }
table        { table-border-color-light: rgb(204,204,102); table-border-color-dark: 
               rgb(153,153,51); color: rgb(255,255,153); border-color: 
               rgb(153,153,51) }
caption      { color: rgb(102,153,51) }
th           { color: rgb(255,255,153); border-color: rgb(153,153,51) }
td           { border-color: rgb(153,153,51) }
.mstheme-bannertxt a:active { color: rgb(255,255,204) }
.mstheme-bannertxt a:link { color: rgb(255,255,204) }
.mstheme-bannertxt a:visited { color: rgb(255,255,204) }
.mstheme-bannertxt-g { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               background-image: url('artbannd.gif'); font-family: 宋体 }
.mstheme-bannertxt-g a:active { color: rgb(255,255,204) }
.mstheme-bannertxt-g a:link { color: rgb(255,255,204) }
.mstheme-bannertxt-g a:visited { color: rgb(255,255,204) }
.mstheme-bannertxt-s { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               font-family: 宋体 }
.mstheme-bannertxt-s a:active { color: rgb(255,255,204) }
.mstheme-bannertxt-s a:link { color: rgb(255,255,204) }
.mstheme-bannertxt-s a:visited { color: rgb(255,255,204) }
.mstheme-horiz-navtxt a:active { color: rgb(255,255,204) }
.mstheme-horiz-navtxt a:link { color: rgb(255,255,204) }
.mstheme-horiz-navtxt a:visited { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-g { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               background-image: url('artnvhnd.gif'); font-family: 宋体 }
.mstheme-horiz-navtxt-g a:active { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-g a:link { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-gs { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               background-image: url('artnvhsd.gif'); font-family: 宋体 }
.mstheme-horiz-navtxt-gs a:active { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-gs a:link { color: rgb(255,255,204) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(255,255,204) }
.mstheme-navtxthome a:active { color: rgb(255,255,204) }
.mstheme-navtxthome a:link { color: rgb(255,255,204) }
.mstheme-navtxthome a:visited { color: rgb(255,255,204) }
.mstheme-navtxthome-g { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               background-image: url('arthomed.gif'); font-family: 宋体 }
.mstheme-navtxthome-g a:active { color: rgb(255,255,204) }
.mstheme-navtxthome-g a:link { color: rgb(255,255,204) }
.mstheme-navtxthome-g a:visited { color: rgb(255,255,204) }
.mstheme-navtxtnext a:active { color: rgb(255,255,204) }
.mstheme-navtxtnext a:link { color: rgb(255,255,204) }
.mstheme-navtxtnext a:visited { color: rgb(255,255,204) }
.mstheme-navtxtnext-g { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               background-image: url('artnextd.gif'); font-family: 宋体 }
.mstheme-navtxtnext-g a:active { color: rgb(255,255,204) }
.mstheme-navtxtnext-g a:link { color: rgb(255,255,204) }
.mstheme-navtxtnext-g a:visited { color: rgb(255,255,204) }
.mstheme-navtxtprev a:active { color: rgb(255,255,204) }
.mstheme-navtxtprev a:link { color: rgb(255,255,204) }
.mstheme-navtxtprev a:visited { color: rgb(255,255,204) }
.mstheme-navtxtprev-g { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               background-image: url('artprevd.gif'); font-family: 宋体 }
.mstheme-navtxtprev-g a:active { color: rgb(255,255,204) }
.mstheme-navtxtprev-g a:link { color: rgb(255,255,204) }
.mstheme-navtxtprev-g a:visited { color: rgb(255,255,204) }
.mstheme-navtxtup a:active { color: rgb(255,255,204) }
.mstheme-navtxtup a:link { color: rgb(255,255,204) }
.mstheme-navtxtup a:visited { color: rgb(255,255,204) }
.mstheme-navtxtup-g { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               background-image: url('artupbtd.gif'); font-family: 宋体 }
.mstheme-navtxtup-g a:active { color: rgb(255,255,204) }
.mstheme-navtxtup-g a:link { color: rgb(255,255,204) }
.mstheme-navtxtup-g a:visited { color: rgb(255,255,204) }
.mstheme-topbar-font a:active { color: rgb(255,255,204) }
.mstheme-topbar-font a:link { color: rgb(255,255,204) }
.mstheme-topbar-font a:visited { color: rgb(255,255,204) }
.mstheme-topbar-font-g { font-size: 1; color: rgb(255,255,204); background-image: url('artnavgl.gif'); 
               font-family: 宋体 }
.mstheme-topbar-font-g a:active { color: rgb(255,255,204) }
.mstheme-topbar-font-g a:link { color: rgb(255,255,204) }
.mstheme-topbar-font-g a:visited { color: rgb(255,255,204) }
.mstheme-vert-navtxt a:active { color: rgb(255,255,204) }
.mstheme-vert-navtxt a:link { color: rgb(255,255,204) }
.mstheme-vert-navtxt a:visited { color: rgb(255,255,204) }
.mstheme-vert-navtxt-g { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               background-image: url('artnvvnd.gif'); font-family: 宋体 }
.mstheme-vert-navtxt-g a:active { color: rgb(255,255,204) }
.mstheme-vert-navtxt-g a:link { color: rgb(255,255,204) }
.mstheme-vert-navtxt-g a:visited { color: rgb(255,255,204) }
.mstheme-vert-navtxt-gs { color: rgb(255,255,204); text-align: center; vertical-align: middle; 
               background-image: url('artnvvsd.gif'); font-family: 宋体 }
.mstheme-vert-navtxt-gs a:active { color: rgb(255,255,204) }
.mstheme-vert-navtxt-gs a:link { color: rgb(255,255,204) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(255,255,204) }
.mstheme     { navbutton-background-color: rgb(51,51,51); top-bar-button: url(artnavgl.gif) }
.mstheme-topbar-font { font-size: 1; color: rgb(255,255,204); font-family: 宋体 }
body         { background-image: url('arttilea.jpg'); font-family: 宋体 }
h1           { font-weight: normal; font-style: normal; font-size: 24pt; font-family: 宋体 }
h2           { font-weight: normal; font-style: normal; font-size: 18pt; font-family: 宋体 }
h3           { font-weight: normal; font-style: normal; font-size: 14pt; font-family: 宋体 }
h4           { font-weight: normal; font-style: normal; font-size: 12pt; font-family: 宋体 }
h5           { font-weight: normal; font-style: normal; font-size: 10pt; font-family: 宋体 }
h6           { font-weight: normal; font-style: normal; font-size: 8pt; font-family: 宋体 }
button       { font-size: 8pt; font-style: bold; font-family: 宋体; border-style: solid; 
               border-width: 1pt }
label, .MSTHEME-LABEL { font-size: 8pt; font-style: bold; font-family: 宋体 }
textarea     { font-size: 8pt; font-style: normal; font-family: 宋体; border-style: solid; 
               border-width: 1pt }
fieldset     { font-size: 8pt; font-style: normal; font-family: 宋体; border-style: solid; 
               border-width: 1pt }
legend       { font-size: 8pt; font-style: normal; font-family: 宋体 }
select       { font-size: 8pt; font-style: normal; font-family: 宋体; border-style: solid; 
               border-width: 1pt }
table        { font-style: normal; font-family: 宋体 }
caption      { font-size: 14pt; font-style: normal; font-family: 宋体 }
th           { font-style: normal; font-family: 宋体 }
marquee      { font-size: 14pt; font-family: 宋体 }
